<!DOCTYPE html>
<html lang="en">
  <head>
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Project</title>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
<link rel="stylesheet" href="/app.css"> 
    </head>
<body>
<nav class="navbar navbar-expand-md navbar-dark bg-dark mb-4">
     <a class="navbar-brand" href="/">Mesmerizing</a>
     <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
       <span class="navbar-toggler-icon"></span>
     </button>
     <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a href="/locations" class="nav-link">Home</a>
           
          </li>
          </ul>
           <ul class="navbar-nav">
           <% if(!current){ %>
             <a href="/register" class="nav-link float-right">SignUp</a>
            <a href="/login" class="nav-link float-right">Login</a>
           <%} else { %>
            <a href="/logout" class="nav-link float-right">Logout</a>
            <% } %>
        </ul>
       </div>
  </nav> 

<div class="container">
    <% if(error && error.length>0){ %>
    <div class="alert alert-danger" role="alert">
    <%=error%>
    </div>
    <% } %>
    <% if(success && success.length>0){ %>
    <div class="alert alert-success" role="alert">
        <%=success%>
        </div>
    <% } %>    
</div>

</body>