<% include ./partials/headers %>

<div id="landing-header">
        <h1>Welcome to Beatiful World!</h1>
        <a href="/locations" class="btn btn-lg btn-success">View All Locations</a>
    </div>

    <ul class="slideshow">
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
    </ul>